body {
    font-family: "Gill Sans", sans-serif;
   
}

form {
    background-color: ghostwhite;
    margin: auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label, input {
    text-align: center;
    width: 300px;
    
    margin-bottom: 10px;
    display: block;
}

input {
    width: 95%;
    border: 0.5px solid #ccc;
    padding: 8px;
}

button {
    display: block;
    margin: auto;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
